
  .card {
    display: flex;
    animation: reverse;
    cursor: pointer;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
 
  .image {
    display: block;
    width: 300px;
    height: 200px;
    object-fit: cover;
    animation: rotate 10s linear infinite;
    
  }
  @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
 
  