.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  outline: none;
  overflow: hidden;
  border-radius: 40px;
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 90px;

}
